// ==============================
// Logo
// =============================

.logo-wrapper {
  align-self: flex-start;

  img {
    height: 60px;
    margin-right: 15px;
  }
  .logo {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
  }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
